.flexbox{

    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
}
.leftsidebox{
    display: grid;
    width: 20%;
    height: fit-content;
}
.wfilter{
    
    height:auto;
}
/* .sortingbox{

} */

.wproducts{
    width: 75%;

    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
