.flexbox{
    border: 1px solid red;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
}
.leftsidebox{
    display: grid;
    width: 20%;
    height: fit-content;
}
.wfilter{
    border: 1px solid grey;
    height:auto;
}
.sortingbox{
    border: 1px solid blue;
}

.wproducts{
    width: 75%;
    border: 1px solid brown;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
