.flexbox{

    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
}
.wfilter{
    width: 20%;
    height: 100%;
}
.wproducts{
    width: 75%;
    border: 1px solid grey;
    border-bottom: none;
    border-top: none;
    border-right: none;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}